{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %} Products {% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar for categories -->
        <div class="col-md-3">
            <div class="sidebar bg-light p-3 rounded">
                <h3>Categories</h3>
                <ul class="list-group">
                    <li class="list-group-item {% if not category %} active {% endif %}">
                        <a class="text-decoration-none text-dark" href="{% url 'shop:product_list' %}">
                            All
                        </a>
                    </li>
                    {% for c in categories %}
                    <li class="list-group-item {% if category and category.slug == c.slug %} active {% endif %}">
                        <a class="text-decoration-none text-dark" href="{{ c.get_absolute_url }}">
                            {{ c.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Product list -->
        <div class="col-md-9">
            <h1 class="my-4">
                {% if category %}{{ category.name }} {% else %} Products {% endif %}
            </h1>
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                    <div class="card h-100 text-center">
                        <a href="{{ product.get_absolute_url }}">
                            <img class="card-img-top img-fluid" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="{{ product.name }}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-dark">{{ product.name }}</a>
                            </h5>
                            <p class="card-text text-success">
                                ${{ product.price }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}